name: Linux CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100
    - name: Install Ubuntu dependencies
      run: |
        sudo apt-get update
        sudo apt-get --yes install flex bison
    - name: Compile vcpkg dependencies
      run: ./vcpkg_linux.sh
    - name: Compile native ParquetSharp library
      run: ./build_linux.sh
    - name: Build with dotnet
      run: dotnet build --configuration=Release
    - name: Run unit tests
      run: dotnet test csharp.test --configuration=Release
