name: Nudge

on:
  workflow_run:
    workflows: [CI]
    types: [completed]
    branches: [master]

jobs:
  nudge:
    runs-on: ubuntu-latest
    environment: protected
    steps:
      - name: Send notification
        uses: pavlovic-ivan/octo-nudge@v1
        with:
          webhooks: ${{ secrets.WEBHOOKS }}
          conclusions: 'failure,success'