name: Publish Docs

on:
  push:
    branches:
      - master
      - jescalada-docfx-setup

permissions:
  actions: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.x

    - name: Install DocFX
      run: dotnet tool update -g docfx

    - name: Build Documentation
      run: docfx docfx.json

    - name: Upload Site Artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: '_site'

    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v4
